<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали заказа</title>
    
   <link rel="stylesheet" type="text/css" href="/static/styles.css">



</head>
<body>
    
    <div class="home">
    <img src="static/unnamed.jpg" class="imgicon" />
    <h5>Детали заказа</h5>
    <form action="/" method="get">
        <label for="id">Введите ID заказа:</label>
        <input type="text" id="id" name="id">
        <input type="submit" value="Поиск">
    </form>
    {{ if .OrderUID }}<hr>
    <p>Идентификатор заказа: {{ .OrderUID }}</p><hr>
    <p>Трек номер: {{ .TrackNumber }}</p><hr>
    <p>Заявка: {{ .Entry }}</p><hr>
    {{ else }}<hr>
    <p>Введите ID заказа для поиска.</p>
    {{ end }}
</div>
</body>

</html>